.testimonial {
    color: $color__primary;
    padding: 1rem 0;

    h2 {
        text-align: center;
    }

    .testimonial-item {
        padding: 1rem 0;

        blockquote p {
            margin-bottom: .5rem;
        }
    }

    cite {
        font-weight: 700;
    }

    @media all and (min-width: $breakpoint-tablet) {
        @include flex-center;

        h2 {
            width: 100%;
        }

        .testimonial-item {
            width: 40%;
        }
    }
}